{% extends "base.html" %}

{% block title %}
Forgot Password
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}

<div class="login-container">

    <div class="login-card">

        <div class="logo">
            <span class="material-icons">
                lock_reset
            </span>
        </div>

        <h1>Forgot Password</h1>

        <p class="subtitle">
            Reset your Expense Tracker password
        </p>

        <p class="description">
            Enter your registered email address.
            We'll send you a password reset link.
        </p>

        <form
            action="{{ url_for('forgot_password') }}"
            method="POST">

            <div class="input-group">

                <span class="material-icons">
                    email
                </span>

                <input
                    type="email"
                    name="email"
                    placeholder="Registered Email"
                    required>

            </div>

            <button
                class="login-btn"
                type="submit">

                Send Reset Link

            </button>

        </form>

        <div class="register-link">

            Remember your password?

            <a href="{{ url_for('auth.login') }}">
                Login
            </a>

        </div>

    </div>

</div>

{% endblock %}