{% extends "base.html" %}

{% block title %}
Reset Password
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %}

{% block content %}

<div class="register-container">

    <div class="register-card">

        <div class="logo">

            <span class="material-icons">
                lock_reset
            </span>

        </div>

        <h1>Reset Password</h1>

        <p class="subtitle">
            Create a new password
        </p>

        <form
            method="POST"
            action="{{ url_for('reset_password', token=token) }}">

            <div class="input-group">

                <span class="material-icons">
                    lock
                </span>

                <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="New Password"
                    required>

                <span
                    class="material-icons eye-icon"
                    onclick="togglePassword('password', this)">
                    visibility
                </span>

            </div>

            <div class="input-group">

                <span class="material-icons">
                    lock_outline
                </span>

                <input
                    type="password"
                    id="confirmPassword"
                    name="confirm_password"
                    placeholder="Confirm Password"
                    required>

                <span
                    class="material-icons eye-icon"
                    onclick="togglePassword('confirmPassword', this)">
                    visibility
                </span>

            </div>

            <button
                class="register-btn"
                type="submit">

                Update Password

            </button>

        </form>

    </div>

</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock %}